.Clicker {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: rgb(0, 255, 0);
  height: 50%;
}
.ClickerButtonArea {
  font-size: 24px;
  text-align: center;
  background: rgb(0, 200, 0);
  border-radius: 8px;
  opacity: .8;
  padding: 30px;
}
.KiwiSeed {
  background: rgb(0, 255, 0);
  height: 50%;
}
body {
  font-family: "Open-Sans";
  margin: 0;
}
